 body{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            background-color: darkseagreen;
    }

    .parent{
            /* border: 1px solid red; */
            display: flex;
            justify-content: space-between;
            height: 20vh;
            align-items: center;
            position: sticky;
            top: 0;
            background-color:darkseagreen;
            z-index: 10;
            /* border: 2px solid gray; */
        }

    #logo{
        width: 20vh;
    }
    .menu{
        display: flex;
        padding: 30px;
        align-items: center;
         
      
        justify-content: center;
        gap: 400px;
    }
    .menu>a{
        
         font-size: 1.5vw;
            color: black;
            text-decoration: none;
    }
    .menu>a:hover{
            color:white;
        }